<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae alias incidunt soluta ducimus similique
        dicta, omnis est quasi libero dolore modi, assumenda in odio magnam, reiciendis quod tempora? Consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae alias incidunt soluta ducimus similique
        dicta, omnis est quasi libero dolore modi, assumenda in odio magnam, reiciendis quod tempora? Consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae alias incidunt soluta ducimus similique
        dicta, omnis est quasi libero dolore modi, assumenda in odio magnam, reiciendis quod tempora? Consequatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae alias incidunt soluta ducimus similique
        dicta, omnis est quasi libero dolore modi, assumenda in odio magnam, reiciendis quod tempora? Consequatur.
    </p>
</article>